

.{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
};

body {
  font-family: Arial, sans-serif;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
form {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

input[type="text"], input[type="nombre"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


input[type="submit"]:hover {
    background-color: orangered;
}
label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}
